<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <!--  定义日志输出格式和存储路径  -->
    <!-- %m输出的信息,%p日志级别,%t线程名,%d日期,%c类的全名,%i索引【从数字0开始递增】,,, -->
    <property name="LOG_PATTERN" value="[Acelin]%d{yyyy-MM-dd hh:mm:ss.SSS} %p [%t] %c (%F:%L\\\) - %m%n" />
    <property name="LOG_CHARSET" value="UTF-8" />
    <property name="FILE_PATH" value="D:/logs/acelin" />


    <!-- 定义控制台输出 ConsoleAppender  -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>${LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <!--  定义日志文件的相关参数 FileAppender  -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${FILE_PATH}/power-job.log</file>
        <!--  默认为true，表示每次日志输出到文件走追加在原来文件的结尾，false则表示清空现存文件  -->
        <append>false</append>
        <encoder>
            <!-- 按照上面配置的LOG_PATTERN来打印日志 -->
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!--  滚动文件策略 RollingFileAppender  -->
    <appender name="ROL-FILE-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--滚动策略，按照时间滚动 TimeBasedRollingPolicy-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>D:/logs/acelin/test.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 只保留近七天的日志 -->
            <maxHistory>7</maxHistory>
            <!-- 用来指定日志文件的上限大小，那么到了这个值，就会删除旧的日志 -->
            <totalSizeCap>20MB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>


    <!--  PowerJob 日志配置 start -->
    <appender name="POWERJOB_WORKER_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${FILE_PATH}/powerjob-worker.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${FILE_PATH}/powerjob-worker.%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>7</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <append>true</append>
    </appender>

    <logger name="tech.powerjob.worker" level="INFO" additivity="true">
        <appender-ref ref="POWERJOB_WORKER_APPENDER" />
    </logger>

    <logger name="com.zaxxer.hikari" level="INFO">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- PowerJob 日志配置  end -->

    <logger name="org.springframework" level="WARN" />
<!--    <logger name="org.apache.ibatis" level="WARN" />-->
<!--    <logger name="tk.mybatis.mapper" level="DEBUG" />-->
    <logger name="com.acelin.powerjob" level="INFO" />


    <root level="INFO">
        <appender-ref ref="CONSOLE" />
<!--        <appender-ref ref="FILE" />-->
    </root>
</configuration>